
<!-- ALERT -->
<alert type="success" *ngIf="formSubmitted">
    <strong>Success!</strong> If you have an account with the related e-mail, you will shortly be notified.
</alert>
<!--. ALERT -->

<form [formGroup]="forgetPasswordForm" class="form-margin-mobile"
*ngIf="!formSubmitted">

    <!-- EMAIL FIELD -->
    <app-email [placeholder]="'E-mail adresinizi giriniz'" [label]="'E-Mail'" [type]="'text'" formControlName="username"
        [formControlName]="'username'" [parentForm]="forgetPasswordForm"></app-email>
    <!--. EMAIL FIELD -->


    <!-- RESET PASSWORD BUTTON -->
    <button type="button" (click)="forgetPasswordForm.markAllAsTouched(); askForNewPasswordMail()"
        class="btn btn-primary btn-block">
        Şifremi Sıfırla
    </button>
    <!-- RESET PASSWORD BUTTON -->
    
    <!-- OR LOGIN -->
    <a class="login-button" [routerLink]="'/auth/login'">veya Giriş Yapın</a>
    <!--. OR LOGIN -->

</form>