.user-preview {
    border-right: 1px solid black;
    padding-bottom: 10px;
}

.user-image {
    border-radius: 50%;
    max-width: 45px;
    max-height: 45px;
    background-size: auto 100%;
    display: block;
}

.user-image-div {
    float:left;
}

.after-image {
    margin-left: 50px;
    margin-top: -10px;
}

label {
    display: block;
    margin-bottom: 0;
}

.user-name {
    font-size: 18px;
    /* color: blue; */
    cursor: pointer;
}

.user-info-preview {
    font-size: 12px;
    font-style: italic;
}